# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (keep launch.json optional)
.vscode/

# Flutter / Dart / Pub-related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
android/.gradle/
android/.idea/
android/captures/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
**/android/**/GeneratedPluginRegistrant.java
**/android/app/google-services.json
android/app/upload-keystore.jks

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/GoogleService-Info.plist

# Linux / Windows / macOS
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Pods/

# Web
lib/generated_plugin_registrant.dart
.firebase/
firebase-debug.log

# Environment / secrets
.env
.env.local
.env.*.local

# Supabase CLI
supabase/.branches/
supabase/.temp/
.supabase/
